<div class="admin-container">
  <h2>Admin Dashboard</h2>
  <p>Manage restaurants, food items, and customer orders from here.</p>

  <div class="admin-options">
    <div class="admin-card" (click)="goToAddRestaurant()">
      <h3>➕ Add Restaurant</h3>
      <p>Create a new restaurant profile with details and image.</p>
    </div>

    <div class="admin-card" (click)="goToDeleteRestaurant()">
      <h3> 🗑️ Delete / Update Restaurant</h3>
      <p>Delete / Update Restaurant</p>
    </div>
    
    <div class="admin-card" (click)="goToAddFood()">
      <h3>🍽️ Add / View Food Items</h3>
      <p>Add / View food items for a selected restaurant.</p>
    </div>
  </div>
</div>